{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <h1>Student index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th><a href="{{ path('app_student_index', {sort: 'firstname', direction: sort == 'firstname' and direction == 'asc' ? 'desc' : 'asc'}) }}">Prénom</a></th>
                <th><a href="{{ path('app_student_index', {sort: 'lastname', direction: sort == 'lastname' and direction == 'asc' ? 'desc' : 'asc'}) }}">Nom</a></th>
                <th><a href="{{ path('app_student_index', {sort: 'address', direction: sort == 'address' and direction == 'asc' ? 'desc' : 'asc'}) }}">Address</a></th>
                <th><a href="{{ path('app_student_index', {sort: 'zipcode', direction: sort == 'zipcode' and direction == 'asc' ? 'desc' : 'asc'}) }}">Zipcode</a></th>
                <th><a href="{{ path('app_student_index', {sort: 'zipcode', direction: sort == 'zipcode' and direction == 'asc' ? 'desc' : 'asc'}) }}">Zipcode</a></th>
                <th>School</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in student %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.firstname }}</td>
                <td>{{ student.lastname }}</td>
                <td>{{ student.address }}</td>
                <td>{{ student.zipcode }}</td>
                <td>{{ student.town }}</td>
                
                <td>
                    {% for school in student.school %}
                        {{ school.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                 <td>
                <td>
                    <a href="{{ path('app_student_show', {'id': student.id}) }}">show</a>
                    <a href="{{ path('app_student_edit', {'id': student.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_student_new') }}">Create new</a>
{% endblock %}
