{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <h1>Student index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Address</th>
                <th>Class</th>
                <th>Zipcode</th>
                <th>Town</th>
                <th>School</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.firstname }}</td>
                <td>{{ student.lastname }}</td>
                <td>{{ student.address }}</td>
                <td>{{ student.class }}</td>
                <td>{{ student.zipcode }}</td>
                <td>{{ student.town }}</td>
                
                <td>
                    {% for school in student.school %}
                        {{ school.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                 </td>
                <td>
                    <a href="{{ path('app_student_show', {'id': student.id}) }}">show</a>
                    <a href="{{ path('app_student_edit', {'id': student.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_student_new') }}">Create new</a>
{% endblock %}
