{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div>{{ flash_error }}</div>
    {% endfor %}

    <h4>Register</h4>
    
    {{ form_start(registrationForm) }}
        
        {{ form_errors(registrationForm) }}
        
        <div>
            {{ form_row(registrationForm.Firstname) }}
        </div>
        <div>
            {{ form_row(registrationForm.Lastname) }}
        </div>
        <div>
            {{ form_row(registrationForm.email) }}
        </div>
        <div>
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
        </div>
        <div>
            {{ form_row(registrationForm.agreeTerms) }}
        </div>
        
        <button type="submit">Register</button>
        
    {{ form_end(registrationForm) }}
{% endblock %}
