{% extends 'base.html.twig' %}

{% block title %}Sector index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/sector.css') }}">
{% endblock %}

{% block body %}
    <div class="sector-container">
        <h1>Sector index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for sector in sectors %}
                <tr>
                    <td>{{ sector.id }}</td>
                    <td>{{ sector.name }}</td>
                    <td>
                        <div class="action-links">
                            <a class="show" href="{{ path('app_sector_show', {'id': sector.id}) }}">show</a>
                            <a class="edit" href="{{ path('app_sector_edit', {'id': sector.id}) }}">edit</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="no-records">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_sector_new') }}" class="create-new">Create new</a>
    </div>
{% endblock %}