{% extends 'base.html.twig' %}

{% block title %}Détails de l'école{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center page-header">
        <h1>Détails de l'école</h1>
        <a href="{{ path('app_school_edit', {'id': school.id}) }}" class="btn btn-primary">
            <i class="fas fa-edit me-1"></i> Modifier
        </a>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header bg-white">
                    <h5 class="card-title mb-0">Informations générales</h5>
                </div>
                <div class="card-body">
                    <div class="text-center mb-4">
                        <div class="bg-light rounded-circle mx-auto d-flex align-items-center justify-content-center" style="width: 100px; height: 100px;">
                            <i class="fas fa-school text-primary" style="font-size: 3rem;"></i>
                        </div>
                        <h3 class="mt-3">{{ school.name }}</h3>
                    </div>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th style="width: 30%">ID</th>
                                <td>{{ school.id }}</td>
                            </tr>
                            <tr>
                                <th>Nom</th>
                                <td>{{ school.name }}</td>
                            </tr>
                            <tr>
                                <th>Adresse</th>
                                <td>{{ school.address }}</td>
                            </tr>
                            <tr>
                                <th>zipcode</th>
                                <td>{{ school.zipcode }}</td>
                            </tr>
                            <tr>
                                <th>town</th>
                                <td>{{ school.town }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header bg-white">
                    <h5 class="card-title mb-0">Étudiants</h5>
                </div>
            
            </div>
            
            <div class="card">
                <div class="card-body">
                    <div class="d-grid gap-2">
                        <a href="{{ path('app_school_index') }}" class="btn btn-outline-secondary">
                            <i class="fas fa-arrow-left me-1"></i> Retour à la liste
                        </a>
                        {{ include('school/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
